<div class="mainDivLogin">
  <div>
    <img src="../../assets/LogoSimSaveLogin.svg" />
    <div class="box">
      <div><h1 class="mainTextLogin">Entrar na plataforma</h1></div>
      <div>
        <h3 class="mainTextSecLogin">
          Digite seu e-mail e senha abaixo<br />
          para entrar na plataforma.
        </h3>
      </div>
      <div>
        <form>

          <mat-form-field class="inputName">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Coloque seu nome" formControlName="name" >
          </mat-form-field>


          <mat-form-field class="inputName">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Coloque sua senha" formControlName="name" >
          </mat-form-field>

					<button mat-raised-button color="primary" class="cta" routerLink="../">Entrar</button>					
        </form>
      </div>
    </div>
  </div>
</div>
