.mainDivLogin {
  background: linear-gradient(0deg, #f6f6f9 50%, #1767e5 50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  width: 378px;
  height: 306px;

  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ebebeb);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.mainTextLogin {
  width: 220px;
  height: 29px;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 24px auto;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  letter-spacing: 0px;
  color: #1767e5;
}

.mainTextSecLogin {
  width: 232px;
  height: 37px;
  margin: auto;
  text-align: center;
  font: normal normal normal 16px/18px Roboto;
  letter-spacing: 0px;
  color: #5d5d5d;
}

.inputName {
  width: 320px;
}

.cta {
    background: #1767E5;
    width: 95px;
    text-transform: uppercase;
    margin: 15px;
}