<div class="mainDivHome">
  <nav>
    <div class="logoImage"><img src="../../assets/LogoSimSaveHome.svg" /></div>
    <div style="display: flex">
      <button mat-stroked-button class="navEnterButtom" routerLink="../login">
        Entrar
      </button>
      <button
        mat-raised-button
        color="primary"
        class="navRegisterButtom"
        routerLink="../login"
      >
        Cadastre-se
      </button>
    </div>
  </nav>

  <div class="banner-mobile"><img src="../../assets/banner@2x-mobile.png" /></div>

  <div class="banner"><img src="../../assets/banner@2x.png" /></div>
  <div class="mainContainer" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center">
      <div class="boxContainer box">
        <div class="urgencyTop"></div>
        <div class="urgencyMainText">Urgency</div>
        <div class="urgencyText">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </div>
        <div class="urgencyButton">
          <button mat-stroked-button>Saiba mais</button>
        </div>
      </div>
      <div class="boxContainer box">
        <div class="studentTop"></div>
        <div class="studentMainText">Student</div>
        <div class="studentText">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </div>
        <div class="studentButton">
          <button mat-stroked-button disabled>Em breve</button>
        </div>
      </div>
      <div class="boxContainer box">
        <div class="specialistTop"></div>
        <div class="specialistMainText">Specialist</div>
        <div class="specialistText">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </div>
        <div class="specialistButton">
          <button mat-stroked-button disabled>Em breve</button>
        </div>
      </div>
      <div class="boxContainer box">
        <div class="specialist2Top"></div>
        <div class="specialist2MainText">Specialist</div>
        <div class="specialist2Text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </div>
        <div class="specialist2Button">
          <button mat-stroked-button>Saiba mais</button>
        </div>
      </div>
  </div>
  <div class="homeFooter">
    <div class="signatureBox">
      <div class="boxContainer">
        <div class="signatureBoxMainText">Ainda não é assinante?</div>
        <div class="signatureBoxText">
          Cadastre-se gratuitamente e descubra como vários de profissionais da
          área da saúde estão aprimorando seus estudos através do método
          inovador SimSave.
        </div>
        <div class="signatureBoxButton">
          <button
            routerLink="../login"
            mat-stroked-button
            class="signatureBoxButtonColor"
          >
            Cadastre-se
          </button>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <img src="../../assets/LogoSimSaveHome.svg" />
    </div>
    <div style="text-align: center; margin: 20px 0px">
      <img src="../../assets/icons.png" />
    </div>
    <div>
      <div class="contactUs">
        <img src="../../assets/emailIcon.png" />
        <p>Fale Conosco</p>
      </div>
      <div class="emailFooter">
        <p>
          Dúvida, crítica sugestão ou elogio? Envie um e-mail para
          suporte@simsave.com.br
        </p>
      </div>
    </div>
  </div>
</div>
